.hero {
    background-color: #f2f7f8;
    padding: 100px 50px;
    z-index: 0;
}

.hero_head {
    background-color: #f2f7f8;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    z-index: 0;

    .title {
        color: #1f2a41;
        width: 60%;
    }

    .title h1 {
        font-size: 60px;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 900;
        font-style: normal;
    }
    .title .break .break1 {
        display: none;
    }

    .title img {
        width: 50px;
        transform: rotate(45deg);
    }

    .info {
        width: 30%;
        color: #3d4f60;
    }
}


.hero_btn1 {
    display: flex;
    text-align: center;
    background-color: #1734ca;
    gap: 4px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.hero_btn1 img {
    width: 18px;
}

.hero_btn1:hover,
.hero_btn2:hover {
    transform: translateY(-3px);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.hero_btn2 {
    display: flex;
    text-align: center;
    background-color: white;
    gap: 4px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-weight: 500;
    transition: transform 0.3s ease;
}

.spin_img {
    transform: rotate(45deg);
    animation: rotate 3s linear infinite;
}

.hero_main {
    position: relative;
    margin-bottom: 4rem;
    z-index: 1;
}

.hero_img {
    position: relative;
    width: 96%;
    border-radius: 30px;
    margin-top: 50px;
    z-index: 0;
}

.hero_img2 {
    position: absolute;
    top: 12rem;
    right: -2.5rem;
    width: 30%;
    border-radius: 30px;
    margin-top: 50px;
}

.hero_img1 {
    position: absolute;
    top: 24rem;
    right: 22rem;
    width: 31%;
    border-radius: 30px;
    margin-top: 50px;
}

.hero_img3 {
    position: absolute;
    top: 14rem;
    left: -4.5rem;
    width: 28%;
    border-radius: 30px;
    margin-top: 50px;
}

.hero_conimg {
    position: relative;
    width: 5rem;
    transform: rotate(45deg);
    animation: rotate 5s linear infinite;
}

.hero_conimg1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
}

.conh2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 900;
    font-size: 20px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 320px) and (max-width: 440px) {
    .hero {
        padding: 80px 16px 40px;
    }

    .hero_head {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 14px;
    }

    .hero_head .title {
        width: 100%;
    }

    .hero_head .title h1 {
        margin: 48px 0 52px;
        font-size: clamp(3.9rem, 11vw, 5.1rem);
        font-weight: 700;
        line-height: 1.2;

        img {
            width: 70px;
        }

        br {
            display: none;
        }
        .break {
            display: flex;
        }
        .break1 {
            display: flex;
        }
    }

    .hero_head .info {
        width: 100%;
        margin-bottom: 24px;

        p {
            font-size: 1.3rem;
            line-height: 1.6;
        }
    }

    .hero_btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 12px !important;
        width: 100%;
    }

    .hero_btn1,
    .hero_btn2 {
        justify-content: center;
    }

    .hero_btn1:hover,
    .hero_btn2:hover {
        transform: none;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    }

    .hero_main {
        margin-bottom: 5rem !important;
    }
    .position-relative {
        margin-bottom: 2rem;
    }

    .hero_img {
        width: 100%;
        border-radius: 30px;
        margin-top: 24px;
    }

    .hero_img2 {
        position: absolute;
        top: 2.4rem;
        right: -1rem!important;
        width: 24%;
    }

    .hero_img1 {
        top: 7rem;
        right: 4.8rem !important;
        width: 42%;
    }

    .hero_img3 {
        top: 2.5rem;
        left: -0.75rem;
        width: 38%;
    }

    .hero-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /* margin-top: 50px; */

    }

    .hero-con1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-con1 p {
        font-size: 16px;
    }
    .hero-con1 p br {
        display: none;
    }

    .conh2 {
        font-size: 46px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 858px) {
    .hero_head {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    .hero_head .title {
        width: 100%;
    }

    .hero_head .title h1 {
        font-size: clamp(5.8rem, 10vw, 4.5rem);
        line-height: 0.95;
        margin-top: 5.5rem !important;
        margin-bottom: 3.5rem;

        img {
            width: 80px;
        }

        br {
            display: none;
        }
    }

    .hero_head .info {
        width: 100%;
        max-width: 38rem;
    }

    .hero_btn {
        justify-content: center;
        flex-wrap: wrap;
    }

    /* removed min-height for .hero_main to fix huge gap */
    .hero_img {
        object-fit: cover;
        height: 500px !important;
    }
    .hero_img2 {
        top: 11rem;
        right: -8rem;
        width: 59%;
    }

    .hero_img1 {
        top: 17rem;
        right: -10.82rem;
        width: 59%;
    }

    .hero_img3 {
        top: 12rem;
        left: -9.5rem;
        width: 58%;
    }
    .hero-con {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        /* margin-top: 50px; */
    }
    .hero-con1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .conh2 {
        margin-top: 30px;
        font-size: 46px;
        text-align: center;
    }
}
